.grid {
  display: grid;
  grid-template-columns: repeat(2, auto);
  .contentHeader {
    padding: 10px 0;
    span {
      font-size: 20px;
    }
  }
  .exchangeSelect {
    display: flex;
    justify-content: space-between;
    height: 80px;
    font-size: 20px;
    button {
      width: 60px;
      height: 60px;
      background-color: #fea832;
      .mat-icon {
        width: 60px;
        height: 60px;
        font-size: 60px;
        line-height: 0.75;
        color: #3f3f3f;
      }
    }
  }
  .info {
    display: flex;
    height: 100px;
    margin: 20px auto;
    padding: 20px;
    justify-content: space-between;
    border: 1.5px solid #3f3f3f;
    border-radius: 4px;
    .values {
      display: flex;
      align-items: center;
      height: 100%;
      width: 100%;
      font-size: 22px;
      margin-right: 5px;
      color: #757575;
    }
    .inputCurrency {
      font-size: 22px;
      color: #757575;
      line-height: 2.5;
    }
    .justifyToEnd {
      justify-content: flex-end;
    }
    .divider {
      height: 100%;
      margin: 0 10px;
      border: 1px solid #fea832;
    }
  }
  .example-container {
    width: 500px;
    height: 400px;
    overflow: auto;
  }
  table {
    width: 100%;
    th {
      font-size: 18px;
      color: #fea832;
      background-color: #3f3f3f;
    }
    td {
      font-size: 16px;
    }
  }
  .noData {
    font-size: 20px;
    text-align: center;
    padding: 50px;
  }
}

