.cardWrapper {
  display: grid;
  grid-template-columns: repeat(3, 30%);
  grid-column-gap: 65px;
  padding: 200px 0 0;
  .mat-card {
    max-width: 400px;
    height: 150px;
    text-align: center;
    line-height: 4.5em;
    font-size: 24px;
    background-color: #3f3f3f;
    color: #fea832;
    cursor: pointer;
    &:hover {
      background-color: #fea832;
      color: #3f3f3f;
    }
    span {
      display: flex;
      justify-content: center;
      align-items: center;
      .mat-icon {
        width: 34px;
        height: 34px;
        font-size: 34px;
        margin-right: 10px;
      }
    }

  }
}

