<app-header (sidenavToggle)="toggleSidenav()"></app-header>
<mat-sidenav-container class="example-container" autosize [hasBackdrop]="true">
  <mat-sidenav #sideNav class="example-sidenav" mode="over" position="end">
    <button tabindex="-1" routerLink="/home" routerLinkActive="active" mat-button>Home</button>
    <button tabindex="-1" routerLink="/rates" routerLinkActive="active" mat-button>Rates</button>
    <button tabindex="-1" routerLink="/employees" routerLinkActive="active" mat-button>Employees</button>
    <button tabindex="-1" routerLink="/about-us" routerLinkActive="active" mat-button>About Us</button>
  </mat-sidenav>
  <mat-sidenav-content>
    <div class="container-fluid">
      <router-outlet></router-outlet>
    </div>
  </mat-sidenav-content>
</mat-sidenav-container>
<app-footer></app-footer>
